#!/bin/sh

export PAGER='less -LR'
export EDITOR='vim'
export BROWSER='w3m'

# file
alias ls='ls -h --color=auto'
alias la='ls -lA'
alias lt='ls -ltr'
alias mv='mv -i'
alias rm='rm -i'
alias RM='rm -vrf'

# util
alias open='xdg-open'
alias scp='rsync --rsh=ssh -arvP'

alias mp='mplayer'
alias mpf='mplayer -fs'

alias o='xdg-open'
alias e=$EDITOR
alias v=$PAGER
alias b=$BROWSER
alias x='nice extract-archive'

col() { # print only the given columns, numbered from 1 to N
  awk "{ print $(for n; do echo -n "\$$n,"; done | sed 's/,$//') }"
}

duh() { # disk usage for humans
  test $# -eq 0 && set -- *
  du -sch "$@" | sort -h
}

# pacman
alias aur='yaourt'
alias pms='pacman -Ss'
alias pmi='sudo pacman -S --needed'
alias pmr='sudo pacman -Rc'
alias pmu='yaourt --sucre'
alias pmR='pmr $(pacman -Qdt | sed "s/ .*//")'

# work
alias go='git status'
alias gol='git status --short'
alias god='git diff'
alias gor='git reset --soft'
alias goR='git reset --hard'
alias goc='git clean -n'
alias goC='git clean -f'
alias gox='git rm'

# tree
alias gfl='git ls-files'
alias gfi='git status --short --ignored --porcelain | sed -n "s/^!! //p"'
alias gfc='git ls-files --cached'
alias gfm='git ls-files --modified'
alias gfo='git ls-files --others'
alias gfs='git ls-files --stage'
alias gfk='git ls-files --killed'

# log
alias gl='git log --name-status'
alias gld='git log --patch-with-stat'
alias glw='git reflog'
alias gl1='git log -1'

glp() { # pretty git changelog
  git log --format='format:* %s. %b'$'\n' "$@" |
  ruby -pe '$_.sub!(/^\* ./) { $&.upcase }' |
  less
}

# index
alias gi='git add -p'
alias gia='git add'
alias giu='git add -u'
alias gid='git diff --cached'
alias gir='git reset'
alias giR='git reset --mixed'
alias gix='git rm --cached'

# stash
alias gt='git stash save'
alias gtl='git stash list'
alias gta='git stash apply'
alias gtp='git stash pop'

# branch
alias gb='git checkout -b'
alias gbl='git branch -av'
alias gbL='git branch -v'
alias gbx='git branch -d'
alias gbX='git branch -D'
alias gbm='git branch -m'
alias gbM='git branch -M'

# commit
alias gci='git commit'
alias gca='git commit --amend'
alias gco='git checkout'
alias gcO='git checkout HEAD --'
alias gcp='git cherry-pick'
alias gcr='git revert'
alias gcR='git reset "HEAD^"'
alias gc1='git show'

# merge
alias gm='git merge --no-ff'
alias gmf='git merge --ff'

# conflict
alias gkl='git status | sed -n "s/^.*both [a-z]*ed: *//p"'
alias gke='edit-merge-conflict $(gkl)'
alias gko='git checkout --ours --'
alias gkt='git checkout --theirs --'

# rebase
alias gr='git rebase'
alias gri='git rebase --interactive'
alias grc='git rebase --continue'
alias grs='git rebase --skip'
alias gra='git rebase --abort'

# remote
alias ghl='git remote -v'
alias gha='git remote add'
alias ghx='git remote rm'

# push
alias gp='git push'
alias gpf='git push --force'
alias gpt='git push --tags'

# pull
alias gg='git fetch'
alias ggm='git pull'
alias ggr='git pull --rebase'

# submodule
alias gul='git submodule'
alias gua='git submodule add'
alias guR='git submodule update'
alias gug='git submodule sync'
