#!/bin/sh
alias ls='ls -h --color=auto'
alias la='ls -lA'
alias lt='ls -ltr'
alias mv='mv -i'
alias rm='rm -i'
alias RM='rm -rf'
alias scp='rsync --rsh=ssh -arvP'
alias v=$PAGER
alias x='nice extract-archive'
alias o='xdg-open'
alias ec='edit-merge-conflict'

duh() { # disk usage for humans
  test $# -eq 0 && set -- *
  du -sch "$@" | sort -h
}

col() { # print only the given columns, numbered from 1 to N
  awk "{ print $(for n; do echo -n "\$$n,"; done | sed 's/,$//') }"
}

alias aur='yaourt'
alias pms='pacman -Ss'
alias pmi='sudo pacman -S --needed'
alias pmr='sudo pacman -Rc'
alias pmu='yaourt --sucre'
alias pmR='pmr $(pacman -Qdt | sed "s/ .*//")'

alias ga='git add -p'
alias gA='git add'
alias gau='git add -u'
alias gb='git branch -av'
alias gB='git branch -v'
alias gbr='git checkout -b'
alias gbd='git branch -d'
alias gbD='git branch -D'
alias gbm='git branch -m'
alias gca='git commit --amend'
alias gci='git commit'
alias gco='git checkout'
alias gcp='git cherry-pick'
alias gD='git diff'
alias gd='git diff --cached'
alias gec='ec $(git status | sed -n "s/^.*both [a-z]*ed: *//p")'
alias gi='git log -1'
alias gl='git log --name-status'
alias gL='git log --patch-with-stat'
alias gr='git remote -v'
alias grv='git revert'
alias grb='git rebase'
alias gri='git rebase --interactive'
alias grc='git rebase --continue'
alias gra='git rebase --abort'
alias gs='git status'
alias gst='git stash save'
alias gsl='git stash list'
alias gsa='git stash apply'
alias gsp='git stash pop'
alias gup='git upgrade'
alias gpu='git push'
alias gpt='git push --tags'

glf() { # formatted git changelog
  git log --format='format:* %s. %b'$'\n' "$@" |
  ruby -pe '$_.sub!(/^\* ./) { $&.upcase }' |
  less
}

gme() { # default git author
  unset GIT_AUTHOR_NAME
  unset GIT_AUTHOR_EMAIL
  unset GIT_COMMITTER_NAME
  unset GIT_COMMITTER_EMAIL
}
