#!/bin/sh -x

# resolution
xrandr --dpi 96

# fonts
xset +fp ~/.fonts/tamzen-font/bdf
xset fp rehash

# resources
xrdb -merge ~/.Xdefaults
export FONT=$(xrdb -query | awk '$1 == "*font:" { print $2; exit }')

# pointer
xsetroot -cursor_name left_ptr

# subpixel hinting
# https://github.com/voidlinux/void-packages/issues/4444
export FREETYPE_PROPERTIES='truetype:interpreter-version=35'
